:root {
  --brand-primary: #0768AC;
  --brand-secondary: #03C180;
  --bg_default: #FFFFFF;
  --dark_bg_default: #1A1A1A;
  --bg_body: #F0F9FF;
  --dark_bg_body: #282828;
  --lines-color: #DDDDDD;
  --dark_lines-color: #000000;
  --body-text: #333333;
  --dark_body-text: #EDEDED;
  --heart-color: #DC143C;
  --star-color: #DAA520;
  --card-bg: #FFFFFF;
  --card-border: #DDDDDD;
  --card-text: #333333;
  --dark-container-bg: #333333;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  color: var(--body-text);
  background-color: var(--bg_body);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  font-size: 15px;
}
